table{
    border-collapse: collapse;
}
caption{
    font-size: 1.5em;
    font-weight: bold;

}
th{
    border: 1px solid black;
    padding: 20px;
}
td{
    border: 1px solid black;
    padding: 20px;
}