
#main{
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 100%;
}
#title{
    text-align: center;
    font-size: 3em;
    padding-bottom: 5px;
}
#img-div{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
#image{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 10px 0;
}
#tribute-info > h2{
    text-align: center;
}
#tribute-info > ul > li, p{
   margin-left: 50px;
}
#p{
    text-align: center;
    font-size: 1.5em;
    font-weight:bolder ;
}